# Dependencies
node_modules/

# Database
*.db
*.db-shm
*.db-wal
backend/data/

# Build
dist/
frontend-svelte/build/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/
.worktrees
.env
package-lock.json
frontend-archive/package-lock.json
